/* Tab buttons */
.tab-btn-portfolio {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 2rem;
}

.tabs-button-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    gap: 5px;
    font-family: 'Work Sans';
    font-size: 12px;
    color: black;
    transition: all 0.3s ease;
}
.tabs-button-portfolio img{
    height: 15px;
}
.tabs-button-portfolio:hover {
    background: rgba(255, 255, 255, 0.85); /* slightly translucent */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12); /* softer, more natural shadow */
    border: 1px solid rgba(255, 255, 255, 0.25);
    font-family: 'Work Sans';
    font-weight: bold;
    cursor: pointer;
}

.tabs-button-portfolio.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.85); /* slightly translucent */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12); /* softer, more natural shadow */
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    gap: 5px;
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 12px;
    color: black;
}

/* Tab content */
.tab-content {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    font-size: 1.1rem;
    gap: 0.625rem;
    animation: fadeIn 0.3s ease;
}

/* Simple fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* projects content b0x*/
.project-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 294px;
    height: 280px;
    background: rgba(255, 255, 255, 0.85); /* slightly translucent */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12); /* softer, more natural shadow */
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    gap: 10px;
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 12px;
    color: black;
    padding: 10px;
    transition: all 0.3s ease;
}
.project-box:hover{
    transform:  scale(1.01);
    cursor: pointer;
}
.project-box h3{
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}
.project-description{
    width: 100%;
    text-align: left;
    font-size: 11px;
    font-weight: lighter;
}
.project-Image{
    height: 130px;
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 5px;
}
.project-Image img{
    height: 130px;
    width: 100%;
    background-color: #D9D9D9;
    border-radius: 5px;
}
.box-button-project-Live-demo{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    display: flex;
    gap: 10px; 
}
.box-button-project-Live-demo img{
    height: 15px;
}
.box-button-project-Live-demo a{
    text-decoration: none;
    color: black;
}
.box-button-project-Details{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    display: flex;
    gap: 10px; 
}
.box-button-project-Details img{
    height: 15px;
}
.box-button-project-Details a{
    text-decoration: none;
    color: black;
}



.certificate-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 230px;
    border-radius: 5px;
    transition: all 0.3s ease;
    
}
.certificate-boxes :hover{
    transform:  scale(1.01);
    cursor: pointer;
}
.certificate-boxes img{
    width: auto;
    height: 230px;
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    overflow: hidden;
    transition: all 0.3s ease;
}



.skill-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 equal columns */
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}
.skill-page-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
}
.box-skill{
    transition: all 0.3s ease; /* smooth animation */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    gap: 10px;
    font-family: 'Work Sans';
    font-weight: bold;
    font-size: 12px;
}
.box-skill:hover{
    transform:  scale(1.009);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.85); /* slightly translucent */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12); /* softer, more natural shadow */
    border: 1px solid rgba(255, 255, 255, 0.25);
}
.box-skill img{
    width: auto;
    height: 70px;
}
.box-skill p{
    font-family: 'Work Sans';
    font-size: 12px;
    font-weight: bold;
}
